<h2>Source <%= @source.id %></h2>
<div class="sources_show">
  <div id="sources_show_notes">
    <p>source title: <%= @source.title if @source %></p>
    <p>source content: <%= @source.original if @source %></p>
  </div>
</div>