<!-- main navigator  -->

<ul>
    <li><%= link_to('new source', new_source_path) %></li>
    <span class="navigationSpace"/>
    
    <li><%= link_to('home', sources_path) %></li>
    <span class="navigationSpace"/>
</ul>   
