<!-- main navigator  -->
<div class="main_nav">
  <ul>
      <li> • <%= link_to('new cloud', new_source_path) %> • </li>
      <li><%= link_to('home', sources_path) %> • </li>
      <span class="navigationSpace"/>
  </ul>   
</div>
