/* ====================================<SETUP>=================================== */
body,html { 
    margin:0; 
    padding: 0; 
    width: 100%; }

body,h1,h2,h3 { 
    font-size: 1em; }

ul,li,h1,h2,h3,form,body,html,p,input,button,select,textarea { 
    margin:0; 
    padding:0 }

ul { 
    margin: 15px auto; }

a,button { 
    outline: 0; }

img,a img,:link img,:visited img { 
    border:0;
    margin:0;
    padding:0; }

@font-face{
    font-family:ProximaNovaLight;
    font-weight:normal;
    src:url("fonts/Proxima-Nova-Light.otf") format("opentype"); }

@font-face{
    font-family:ProximaNovaBold;
    font-weight:bold;
    src:url("fonts/Proxima-Nova-Bold.otf") format("opentype"); }

@font-face{
    font-family:ProximaNovaSemibold;
    font-weight:normal;
    src:url("fonts/Proxima-Nova-Semibold.otf") format("opentype"); }

button::-moz-focus-inner { 
    border: 0px; }

::-moz-selection {
    background:rgba(0,0,0,0.9);
    color:#ffffff; }

::selection {
    background:rgba(0,0,0,0.9);
    color:#ffffff; }

/* ====================================<SETUP>=================================== */    
.notice {
  border: 0.2px dashed orange;
  border-radius: 12px;
  background-color: #4D4D4D;
  color:#383838;
  display: center;
  font-weight: 900;
  font-size: 18px;
  font-weight: 600;
  height: auto;
  margin: 0 0 10px 350px;
  text-shadow: #FFD700 1px 0px 2px;
  -webkit-font-smoothing: antialiased;
  width: 30%;
}
.container {
  max-width:960px;
  margin: 40px auto 70px auto;
  display:block;
  text-align: center;
  color: #696969;
  font-family: ProximaNovaLight;
}
/* ====================================<HEADERS>================================= */
h1{
  display:block;
  font-size: 24px;
  padding-top: 2px;
  /*color: white;*/
  color: #87CEFA;
  display: center;
}
h2 {
  color:white;
  padding: 6px;
  display:inline;
  text-align: center;
  font-weight: 900;
  border:0 solid;
  border-radius: 12px;
  background-color: rgba(100, 149, 237, 0.6);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
  text-shadow: blue 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}
h3, h4 {
  text-decoration: underline;
  font-size: 10px;
}
.arch {
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  /*color: #636363;*/
  margin: auto auto 24px auto;
}

/* ====================================<LABELS/BUTTONS/INPUT/TEXTAREA>=========== */
input {
  color: #6E7B8B;
  background-color: rgba(176, 226, 255, 0.6);
  margin: 6px auto;
  border-radius: 12px;
  width: 360px;
  height: 18px;
  text-align: center;
}  

textarea {
  text-align: justify;
  white-space: normal;
  border-radius: 12px;
  background-color: rgba(176, 226, 255, 0.6);
  resize: none;
  display: block;
  margin: 0 auto;
}
li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
}
label {
  padding: 2px;
  display: center;
  font-size: 12px;
  font-weight: 900;
  color:white;
  margin:0 auto;
  border:0 solid;
  width: 55px;
  border-radius: 1px;
  background-color: rgba(100, 149, 237, 0.6);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
}
.label_title,
.label_text,
.label_exceptions,
.label_count {
  margin-bottom: 5px;
}
button {
  margin-top: 12px;
  display: block;
  margin: 0 auto;
  background-color: #CAE1FF;
  width: 120px;
  text-align: center;
  outline:none !important;
  border:none !important;
}

/* ====================================<A HREF LINKS>============================ */
a {
  /*color:white;*/
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}
a:link, a:visited {
  /*color:#171717;*/
  color:rgba(39, 106, 225, 0.7);
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  display:inline-block;
  margin: 0 auto 0 auto;
}
a:hover {
  color:#191970;
  /*color:#4682B4;*/
  text-decoration: none;
  font-size: 16px;
  /*border-radius: 30px;*/
  opacity: 1;
  /*box-shadow: 1px 8px 8px #4682B4;*/
  text-align: center;
  display:inline-block;
  margin: 0 auto;
} 
.main_nav a:link {
  font-size: 22px;
}

/* ====================================<SOURCE FORMS>============================ */
.source_form p {
  /*margin: 12px auto;*/
  /*margin: 12px 200px auto 200px;*/
  display: left;
  margin-bottom: 20px;
}
#source_title {
  border-radius: 8px; 
  box-shadow: none;
}
#source_count {
  width: 40px;
  height: 20px;
  border-radius: 8px;
  box-shadow: none;
}
.sources_index {
  margin: 60px auto;
}
.source_form {
  margin-top: 24px;
  display: block;
}
#source_form_button input { 
  width: 100px;
  height: 30px;
  box-shadow: 1px 4px 4px #8B8B83;
  /*background-color: #777;*/
  background-color: #BFEFFF;
  /*rgba(100, 149, 237, 0.6);*/
  margin-top: 10px;
  /*color:#FFFfe0;*/
  /*color:#87CEFA;*/
  color:#191970;
  text-shadow: #87CEFA 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}
/* ====================================<SOURCES SHOW>============================ */
#sources_index_inner p:last-child{
  color:#3D3D3D;
}
#sources_index_inner a:link, 
#sources_index_inner a:visited {
  color: black;
  text-decoration: none;
  font-size: 10px;
  background-color:#B0E2FF;
  padding:6px;
  border-radius: 15px;
}
#sources_index_inner a:hover {
  color:#B0E2FF;
  background:#104E8B;
  text-decoration: none;
  font-size: 12px;
  box-shadow: none;
}
.sources_index p:last-child, 
.sources_show p:last-child {
  text-align: justify;
}
#sources_index_inner {
   margin-top: 12px;
   display: inline-block;
   width: 240px;
   height: 180px;
   font-size: 10px;
   padding: 8px;
   border: 2.5px solid rgba(5, 166, 242, 1);
   overflow:hidden;
   border-radius: 12px;
   background-color: rgba(240, 248, 255, 0.9);
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(70,130,180,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(30,144,255,0.5); 
}

/* ====================================<SEARCH FORMS>============================ */
.search_form {
  display:inline;
  margin: auto 0px;
  width: 480px;
}

#search_field {
  margin: auto 24px auto 24px;
  display: center;
  box-shadow: 1px 4px 4px #8B8B83;
  background-color: rgba(135,206,250,0.8);
  /*background-color: #BFEFFF;*/
  border-radius: 24px;
  height: 36px;
  font-size: 24px;
  width: 360px;
  color: midnightblue;
  /*color:#191970;*/
  /*text-shadow: #87CEFA 0px 0px 2px;*/
}
#search_form_button { 
  width: 100px;
  height: 30px;
  box-shadow: 1px 4px 4px #8B8B83;
  /*background-color: #777;*/
  background-color: #BFEFFF;
  /*rgba(100, 149, 237, 0.6);*/
  /*margin-top: 10px;*/
  /*color:#FFFfe0;*/
  /*color:#87CEFA;*/
  color:#191970;
  text-shadow: #87CEFA 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}

/* ====================================<BODY>==================================== */
body {
  font-family: ProximaNovaLight;
  /*background-color: #F5F6F8;*/
  display: block;
}
.background_image {
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main_nav {
  display: center;
  margin: 0 auto 24px auto;
}
.bubble {
  fill: #191970;
  /*stroke: white;*/
  background-color: rgba(240, 248, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 12px;
  word-wrap:normal;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(100,149,237, 0.8);
  border-radius: 12px;
}
.navigationSpace {
  padding-top: 48px;
}
*:focus {
    outline: 0;
}